<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Backend challenge</title>

    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="../style/report.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1 class="h1">Traffikrapporten</h1>
      <div class="loader">Loading...</div>
      <div id="reports"></div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/connection.js"></script>
  </body>
</html>
